body,
html {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
.bg-image {
    background-image: url(bg1.png);
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(4px);
}
.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

body {
    text-align: center;
}
img {
    padding: 10px;
}
h1 {
    color: white;
    font-size: 40px;
}
p {
    color: white;
}
.buttonsize {
    height: 60px;
    width: 150px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(52, 152, 219, 0.7); /* Blue color with 0.7 alpha (70% opacity) */
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.buttonsize-address {
    height: 60px;
    width: 250px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    background-color: rgba(52, 152, 219, 0.7); /* Blue color with 0.7 alpha (70% opacity) */
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.buttonsize:hover {
    background-color: rgba(41, 128, 185, 0.7); /* Darker blue color on hover with 0.7 alpha */
}

.balance {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}

.form {
    font-size: 18px;
}

.meme {
    height: 90%;
    width: 90%;
}
